<div class="row mt-5">
  <div class="offset-3 col-6">
    <div class="card">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <div class="form-group">
            <div class="row">
              <label for="username" class="col-2 text-right">Username:</label>
              <input id="username" type="text" class="form-control col-9" #username="ngModel" autocomplete="off"
                     ngModel name="username" required>
            </div>
            <span *ngIf="username.touched && !username.valid">Email is required/not correct!</span>
          </div>
          <div class="form-group">
            <div class="row">
              <label for="password" class="col-2 text-right">Pasword:</label>
              <input id="password" type="password" class="form-control col-9" #password="ngModel" ngModel
                     name="password" required>
            </div>
            <span *ngIf="password.touched && !password.valid">Password is required!</span>
          </div>
          <div class="row">
            <button type="submit" class="offset-1 col-10 btn btn-dark" [disabled]="!loginForm.valid">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
