<div class="container mt-5">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="name">
      <small class="form-text text-muted" *ngIf="!registerForm.get('name').valid && registerForm.get('name').touched ">
        Name is required!
      </small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
    </div>
    <div class="form-group">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="email">
    </div>
    <div class="form-group">
      <label for="birthday">Birthday</label>
      <input type="date" class="form-control" id="birthday" placeholder="Birthday" formControlName="birthday">
    </div>
    <div class="form-group">
      <label for="address">Adress</label>
      <input type="text" class="form-control" id="address" placeholder="Address" formControlName="address">
    </div>
    <div class="form-group">
      <label>Gender</label><br>
      <input type="radio" name="gender" value="male" formControlName="gender"> Male<br>
      <input type="radio" name="gender" value="female" formControlName="gender"> Female<br>
      <input type="radio" name="gender" value="other" formControlName="gender"> Other
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <button type="submit" class="btn btn-default" (click)="registerForm.reset({'gender': 'male'})">Clear Form</button>
  </form>
</div>
