<ul class="list-group">
  <li class="list-group-item" *ngFor="let detail of userDetails">
    <div *ngIf="isDate(detail.value); else elseBlock">
      <b>{{detail.id | uppercase | wrapText: '5'}}</b>: {{detail.value | date: 'shortDate'}}
    </div>
    <ng-template #elseBlock>
      <b>{{detail.id | uppercase | wrapText: '15'}}</b>: {{detail.value}}
    </ng-template>
  </li>
</ul>
