<div appPadding [padding]="'20px'" [margin]="'20px'" class="card" style="width: 18rem;" *ngFor="let book of (book$ | async)">
  <img src="./assets/images/book.png" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">{{book.title}}</h5>
    <p class="card-text">{{book.author}} | {{book.year}}</p>
  </div>
</div>
